<div class="row">
    <div id="container" class="col-md-6"></div>

    <div id="crudForm" class="col-md-5">
        {{#if status}}
            <h1>{{ status }}</h1>
        {{/if}}

        <form action="/" method="post">
            <legend>Options</legend>
            <div class="form-group">
                <label for="filename">File Name:</label>
                <input type="text" name="filename" class="form-control" value="{{#if filename}}{{ filename }}{{/if}}" required>
            </div>

            <fieldset class="form-group">
                <label for="actionlist">Action</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="actionlist" id="actionlist" value="New;">
                        New
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="actionlist" id="actionlist" value="Save" checked>
                        Save
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="actionlist" id="actionlist" value="Load">
                        Load
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="actionlist" id="actionlist" value="Delete">
                        Delete
                    </label>
                </div>
            </fieldset>
            <input type="hidden" name="canvas" id="canvasJSON">
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
    </div>
</div>


<!--Initialise the canvas object -->
<script src="/javascripts/render.js"></script>

<!--If the image JSON is available, extract the circles into the CURRENT stage.-->
{{#if imgJSON }}
    <script>
        var shapes = {{{ imgJSON }}};
        var circs = shapes.children[0].children[1].children;

        // Skipping first element, which is the rectangle
        for (var i = 0; i < circs.length; i++){
            circleFactory(circs[i].attrs.x, circs[i].attrs.y);
            doUpdate();
        }

        setInterval(doUpdate, 1000);
    </script>
{{/if}}
