<div class="wrapper">
    {{#if status}}
        <h1>{{ status }}</h1>
    {{/if}}
    <div id="container"></div>

    <div id="crudForm">
        <form action="/" method="post">

            <div class="fGroup">
                <label for="filename">File Name:</label>
                <input type="text" name="filename" value="{{#if filename}}{{ filename }}{{/if}}" required>
            </div>

            <div class="fGroup">
                <label for="actionlist">Action:</label>
                <span class="highlight">Save <input type="radio" name="actionlist" value="Save" checked></span>
                <span class="highlight">Load <input type="radio" name="actionlist" value="Load"></span>
                <span class="highlight">Delete <input type="radio" name="actionlist" value="Delete"></span>
                <br>
            </div>
            <input type="hidden" name="canvas" id="canvasJSON">
            <input type="submit">
        </form>
    </div>
</div>


<!--Initialise the canvas object -->
<script src="/javascripts/render.js"></script>

<!--If the image JSON is available, extract the circles into the CURRENT stage.-->
{{#if imgJSON }}
    <script>
        var shapes = {{{ imgJSON }}};
        var circs = shapes.children[0].children[1].children;

        // Skipping first element, which is the rectangle
        for (var i = 0; i < circs.length; i++){
            circleFactory(circs[i].attrs.x, circs[i].attrs.y);
            doUpdate();
        }

        setInterval(doUpdate, 1000);
    </script>
{{/if}}
