<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'>
      <script src="https://cdn.rawgit.com/konvajs/konva/1.6.3/konva.min.js"></script>
  </head>
  <body>
      <div class="wrapper">
          {{{body}}}
      </div>
  </body>
</html>
