body {
}

#header .well{
    padding:0px 20px 5px 20px;
    text-align: center;
}

#header h1{
    font-size:18pt;
}

#container .konvajs-content{
    display:block;
    margin:0 auto 20px auto;
}

#container, #crudForm{

}