body {
    width: 100%;
}

#container{
    padding-left: 130px;
}

#crudForm{
    margin-top: 20px;
}

.highlight{
    display: inline-block;
    padding:3px 10px;
    background:red;
    outline:1px solid black;
}

.fGroup{
    margin:10px 0;
}